header {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 70px;
    text-align: center;
    background: url(tiles.PNG);
    background-size: contain;
    color: #EF1F36;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#navMain {
    list-style: none; /*removes listing style traits*/
    float: left;
    width: 100%; /*max width of the window*/
    margin: 0;
    padding: 0; /*removes white space left of "home"*/
    border: 1px #FFFFFF solid; /*adds a border to the nav bar*/
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    background: black;
    border-top-color: white;
    border-top-width: 10px;
     
}
/*styling the list items*/
li a { /*applys all values to links or "headers" in nav bar*/
    color: white; 
    text-decoration: none; /*removes traits that it possesses*/
    float: left;
    border-right: 1px solid #a81b2f;
    padding: 7px 15px; /*spaing inbetween links*/
}

li a:hover:not(.active) { /*shading when the mouse hovers*/
    background-color: #EF1F36;
    color: black;
}